@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --adat1hatter: #b302aa;
    --adat2hatter: #800279;
    --alaphatter: #118ab2;
    --asztalihatter: #fd5c1c;
    --backhatter: #3a000e;
    --asztaliesmobilhatter: #cf3b00;
    --fronthatter: #686bfc;
    --proghatter: #1b1ff5;
    --ikt1hatter: #017941;
    --ikt2hatter: #00532c;
    --inf1hatter: #f51b1b;
    --inf2hatter: #d10303;
    --tartohatter: #e3fdc1;
    --teszteleshatter: #2b007a;
    --raadas: #4b4b4b;
    --gomb: #14591d;
    --rejtett: #b6f3ff;
    --webproghatter: #c5b100;
}

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    align-items: center;
    background-color: var(--nav);
    color: whitesmoke;
    display: flex;
    font-weight: 400;
    font-size: 1.5em;
    height: 10vh;
    justify-content: center;
    padding: 1em;
}

.tarto {
    margin: auto;
    min-height: 90vh;
    padding: 2em;
    width: 70%;
}

ol {
    list-style-position: inside;
    list-style: none;
}

ol > li {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.5em;
}

.rejtett {
    background-color: var(--rejtett);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
    /* display: none; */
}

.rejtett ul {
    list-style-image: url('../images/bullet4.gif');
    list-style-position: inside;
    padding-left: 1em;
}

.rejtett ul li {
    border: none;
    box-shadow: none;
    color: black;
}

li {
    text-align: justify;
}

button {
    background-color: white;
    border: none;
    color: var(--gomb);
    font-size: 1em;
    font-weight: 400;
}

.elrejt-gomb {
    color: red;
    display: none;
}

.mindenelrejt-gomb {
    color: red;
}

img {
    max-width: 50%;
}

#felso-gombok {
    display: flex;
    justify-content: space-between;
}

#felso-gombok > button {
    background-color: #000;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    padding: 5px;
}

#also-gombok > button {
    background-color: #000;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    padding: 5px;
}

#jo-valaszok {
    display: none;
}

#jo-valaszok > ul {
    list-style-position: inside;
}

@media screen and (max-width: 1200px) {
    .tarto {
        width: 100%;
        height: 79vh;
    }

    nav {
        height: 21vh;
    }

    img {
        max-width: 75%;
    }

    #felso-gombok > button {
        font-size: 1em;
    }
}

@media screen and (max-width: 800px) {
    img {
        max-width: 100%;
    }

    #felso-gombok > button {
        font-size: 1em;
    }
}
